@charset "utf-8";
body {
	background-color: #EBEBEB;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 1080px;
	height: auto;
}
.altzemin {
	float: left;
	height: 1000px;
	width: 1000px;
	background-color: #D2D2D2;
	padding: 0px;
	margin-top: auto;
	margin-right: 30px;
	margin-bottom: auto;
	margin-left: 100px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
}
.altzemin .menu {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 40px;
	width: 1000px;
	background-color: #FFF;
	color: #000;
}
.altzemin .menu ul li {
	list-style-type: none;
	float: left;
	padding: 0px;
	border-right-style: none;
	color: #0A0A0A;
}
.altzemin .menu ul {
	padding: 0px;
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-left: 0px;
	border-right-style: double;
}
.altzemin .menu ul li a {
	padding: 5px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	text-decoration: none;
	width: auto;
	float: none;
	color: #3B5991;
	font-family: "MS Serif", "New York", serif;
	background-color: #FBFBFB;
}
.altzemin .menu ul li a:hover {
	padding: 5px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	text-decoration: none;
	font-size: 18px;
	background-color: #EDEDED;
	
}





.banner {
	background-color: #3B5998;
	float: left;
	height: 70px;
	width: 1000px;
	margin: 0px;
	padding: 0px;
}
.banner ul {
	margin: auto;
	padding: 0px;
	float: left;
}
.banner ul li {
	list-style-type: none;
	float: left;
	padding: 1px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #F2F2F2;
	font-weight: bold;
}
.banner ul #baslik {
	color: #151515;
}



.altzemin .icerik {
	float: left;
	margin: 0px;
	padding: 0px;
	height: 750px;
	width: 1000px;
	background-color: #E8E8E8;
}

.banner a {
	float: right;
	margin: 0px;
	padding: 0px;
	clear: right;
}
.banner a img {
	margin: 0px;
	float: right;
	clip: rect(0px,0px,auto,auto);
	padding: 0px;
}
